<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link href="/assets/img/favicon.png" rel="icon">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/feather.css">

    <link rel="stylesheet" href="/assets/plugins/fancybox/jquery.fancybox.min.css">

    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>

    <div class="main-wrapper">

        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="index" class="navbar-brand logo">
                        <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index" class="menu-logo">
                            <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="active"><a href="findDoctors">Find Doctors</a></li>
                        <li><a href="consult">Consultation</a></li>
                        <li><a href="medicineOrder">Medicine Order</a></li>
                        <li><a href="labTest">Lab Test</a></li>
                        <li><a href="surgeries">Find Surgeons</a></li>
                        <li><a href="bookAmbulance">Book Ambulance</a></li>
                        <li class="has-submenu">
                            <a href="javascript:void(0);">Services <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="#">Ambulance Service</a></li>
                                <li><a href="staffingServices">Healthcare Staffing Services</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:void(0);">Help <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="#">Health Tips</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="consultantsPanel">Consultants Panel</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <!-- <li class="nav-item contact-item">
        <div class="header-contact-img">
        <i class="far fa-hospital"></i>
        </div>
        <div class="header-contact-detail">
        <p class="contact-header">Tollfree Helpline</p>
        <p class="contact-info-header">1800 1800 45</p>
        </div>
        </li> -->
                    <li class="nav-item">
                        <a class="nav-link header-login" href="loginEmail">Login / Signup </a>
                    </li>
                </ul>
            </nav>
        </header>


        <div class="breadcrumb-bar-two">
            <div class="container">
                <div class="row align-items-center inner-banner">
                    <div class="col-md-12 col-12 text-center">
                        <h2 class="breadcrumb-title">Cart</h2>
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index">Home</a></li>
                                <li class="breadcrumb-item" aria-current="page">Cart</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="container">

                <div class="row">
                    <div class="col-md-7 col-lg-8">
                        <div class="card card-table">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>SKU</th>
                                                <th>Price</th>
                                                <th class="text-center">Quantity</th>
                                                <th class="text-center">Total</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="productDescription"
                                                            class="avatar avatar-sm me-2"><img class="avatar-img"
                                                                src="/assets/img/products/product.jpg"
                                                                alt="User Image"></a>
                                                    </h2>
                                                    <a href="productDescription">Benzaxapine Croplex</a>
                                                </td>
                                                <td>26565</td>
                                                <td>Rs19</td>
                                                <td class="text-center">
                                                    <div class="custom-increment cart">
                                                        <div class="input-group1">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                    class="quantity-left-minus btn btn-danger btn-number"
                                                                    data-type="minus" data-field="">
                                                                    <span><i class="fas fa-minus"></i></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" id="quantity1" name="quantity1"
                                                                class=" input-number" value="10">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                    class="quantity-right-plus btn btn-success btn-number"
                                                                    data-type="plus" data-field="">
                                                                    <span><i class="fas fa-plus"></i></span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">Rs19</td>
                                                <td class="text-end">
                                                    <div class="table-action">
                                                        <a href="javascript:void(0);"
                                                            class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="productDescription"
                                                            class="avatar avatar-sm me-2"><img class="avatar-img"
                                                                src="/assets/img/products/product1.jpg"
                                                                alt="User Image"></a>
                                                    </h2>
                                                    <a href="productDescription">Ombinazol Bonibamol</a>
                                                </td>
                                                <td>865727</td>
                                                <td>Rs22</td>
                                                <td class="text-center">
                                                    <div class="custom-increment cart">
                                                        <div class="input-group1">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                    class="quantity-left-minus btn btn-danger btn-number"
                                                                    data-type="minus" data-field="">
                                                                    <span><i class="fas fa-minus"></i></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" id="quantity2" name="quantity2"
                                                                class=" input-number" value="10">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                    class="quantity-right-plus btn btn-success btn-number"
                                                                    data-type="plus" data-field="">
                                                                    <span><i class="fas fa-plus"></i></span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">Rs22</td>
                                                <td class="text-end">
                                                    <div class="table-action">
                                                        <a href="javascript:void(0);"
                                                            class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="productDescription"
                                                            class="avatar avatar-sm me-2"><img class="avatar-img"
                                                                src="/assets/img/products/product2.jpg"
                                                                alt="User Image"></a>
                                                    </h2>
                                                    <a href="productDescription">Dantotate Dantodazole</a>
                                                </td>
                                                <td>978656</td>
                                                <td>Rs10</td>
                                                <td class="text-center">
                                                    <div class="custom-increment cart">
                                                        <div class="input-group1">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                    class="quantity-left-minus btn btn-danger btn-number"
                                                                    data-type="minus" data-field="">
                                                                    <span><i class="fas fa-minus"></i></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" id="quantity3" name="quantity3"
                                                                class=" input-number" value="10">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                    class="quantity-right-plus btn btn-success btn-number"
                                                                    data-type="plus" data-field="">
                                                                    <span><i class="fas fa-plus"></i></span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">Rs10</td>
                                                <td class="text-end">
                                                    <div class="table-action">
                                                        <a href="javascript:void(0);"
                                                            class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="productDescription"
                                                            class="avatar avatar-sm me-2"><img class="avatar-img"
                                                                src="/assets/img/products/product3.jpg"
                                                                alt="User Image"></a>
                                                    </h2>
                                                    <a href="productDescription">Alispirox Aerorenone</a>
                                                </td>
                                                <td>543252</td>
                                                <td>Rs26</td>
                                                <td class="text-center">
                                                    <div class="custom-increment cart">
                                                        <div class="input-group1">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                    class="quantity-left-minus btn btn-danger btn-number"
                                                                    data-type="minus" data-field="">
                                                                    <span><i class="fas fa-minus"></i></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" id="quantity4" name="quantity4"
                                                                class=" input-number" value="10">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                    class="quantity-right-plus btn btn-success btn-number"
                                                                    data-type="plus" data-field="">
                                                                    <span><i class="fas fa-plus"></i></span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">Rs26</td>
                                                <td class="text-end">
                                                    <div class="table-action">
                                                        <a href="javascript:void(0);"
                                                            class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a href="productDescription"
                                                            class="avatar avatar-sm me-2"><img class="avatar-img"
                                                                src="/assets/img/products/product4.jpg"
                                                                alt="User Image"></a>
                                                    </h2>
                                                    <a href="productDescription">Nitrolozin Zithrotropin</a>
                                                </td>
                                                <td>634534</td>
                                                <td>Rs12</td>
                                                <td class="text-center">
                                                    <div class="custom-increment cart">
                                                        <div class="input-group1">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                    class="quantity-left-minus btn btn-danger btn-number"
                                                                    data-type="minus" data-field="">
                                                                    <span><i class="fas fa-minus"></i></span>
                                                                </button>
                                                            </span>
                                                            <input type="text" id="quantity5" name="quantity5"
                                                                class=" input-number" value="10">
                                                            <span class="input-group-btn">
                                                                <button type="button"
                                                                    class="quantity-right-plus btn btn-success btn-number"
                                                                    data-type="plus" data-field="">
                                                                    <span><i class="fas fa-plus"></i></span>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">Rs12</td>
                                                <td class="text-end">
                                                    <div class="table-action">
                                                        <a href="javascript:void(0);"
                                                            class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4">

                        <div class="card booking-card">
                            <div class="card-header">
                                <h4 class="card-title">Cart Totals</h4>
                            </div>
                            <div class="card-body">
                                <div class="booking-summary">
                                    <div class="booking-item-wrap">
                                        <div class="cart1">
                                            Subtotal <span class="xds">Rs.5,877</span><br />
                                            Shipping <span class="xds">Rs.25</span>
                                        </div>

                                        <ul class="booking-fee pt-4">
                                            <li>Tax <span>Rs.0.00</span></li>
                                        </ul>
                                        <div class="booking-total">
                                            <ul class="booking-total-list">
                                                <li>
                                                    <span>Total</span>
                                                    <span class="total-cost">Rs.160</span>
                                                </li>
                                                <li>
                                                    <div class="clinic-booking pt-4">
                                                        <a class="apt-btn" href="productCheckout">Proceed to
                                                            checkout</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



        <footer class="footer">

            <div class="footer-top aos"><!-- data-aos="fade-up" -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/assets/img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>A healthcare product is the result of the interaction of capital, labour and
                                        entrepreneurship in the production process, which primarily aims to improve,
                                        maintain or prevent the deterioration of the health status of persons or reduce
                                        the consequences of ill health.</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Patients</h2>
                                <ul>
                                    <li><a href="searchDoctors">Search for Doctors</a></li>
                                    <li><a href="login">Login</a></li>
                                    <li><a href="#">Training Videos</a></li>
                                    <li><a href="booking">Booking</a></li>
                                    <li><a href="patientDashboard">Patient Dashboard</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="consultantsPanel">Consultants Panel</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Doctors</h2>
                                <ul>
                                    <li><a href="#">Appointments</a></li>
                                    <li><a href="chat">Chat</a></li>
                                    <li><a href="login">Login</a></li>
                                    <li><a href="doctorRegistration">Register</a></li>
                                    <li><a href="doctorDashboard">Doctor Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p>Pinnacle Prestige, Office No-405 <br />Road 2,Sadashiv Peth,Hyd</p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +91-9096488159
                                    </p>
                                    <p class="mb-0 cf_email">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#" style="color:#fff;">info@aidxpert.com</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



            <div class="footer-bottom">
                <div class="container-fluid">

                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2023 HMS. All rights reserved. Powered by <a
                                            href="/" target="_blank"
                                            style="color:#fff"> Technologies Pvt. Ltd.</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a href="termsConditions">Terms and Conditions</a></li>
                                        <li><a href="privacyPolicy">Privacy Policy</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>


    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="/assets/js/jquery-3.6.4.min.js"></script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/plugins/fancybox/jquery.fancybox.min.js"></script>

    <script src="/assets/js/script.js"></script>
</body>

</html>