<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link href="/assets/img/favicon.png" rel="icon">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/feather.css">

    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body class="account-page">

    <div class="main-wrapper">
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="index" class="navbar-brand logo">
                        <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index" class="menu-logo">
                            <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="active"><a href="findDoctors">Find Doctors</a></li>
                        <li><a href="consult">Consultation</a></li>
                        <li><a href="medicineOrder">Medicine Order</a></li>
                        <li><a href="labTest">Lab Test</a></li>
                        <li><a href="findSurgeons">Find Surgeons</a></li>
                        <li><a href="bookAmbulance">Book Ambulance</a></li>
                        <li class="has-submenu">
                            <a href="javascript:void(0);">Services <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="searchAmbulance">Ambulance Service</a></li>
                                <li><a href="staffingServices">Healthcare Staffing Services</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <!-- <li class="nav-item contact-item">
        <div class="header-contact-img">
        <i class="far fa-hospital"></i>
        </div>
        <div class="header-contact-detail">
        <p class="contact-header">Tollfree Helpline</p>
        <p class="contact-info-header">1800 1800 55</p>
        </div>
        </li> -->
                    <li class="nav-item">
                        <a class="nav-link header-login" href="loginEmail">Login / Signup </a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="banner-section" style="background-image: url('/assets/img/banner124.png');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content aos top-space"> <!-- data-aos="fade-up" -->
                            <h1>Join <span>Our Vast</span> Network of Service Providers</h1>

                            <p>Our Heroes are Committed to Serve Humanity</p>
                            <a href="#register" class="btn">Join as Provider</a>
                            <div class="banner-arrow-img" style="top: 278px;">
                                <img src="/assets/img/down-arrow-img.png" class="img-fluid" alt="">
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </section>
        <div class="content top-space" style="background-color: #fff;" id="register">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-10 offset-md-1">

                        <div class="account-content">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-md-7 col-lg-7 login-left">
                                    <img src="/assets/img/ambulance-pro.jpg" class="img-fluid" alt="Login">
                                </div>
                                <div class="col-md-12 col-lg-5 login-right">
                                    <div class="login-header">
                                        <h3 style="color: #44b1c6;">Register as Service Provider </h3>
                                    </div>
                                    <div *ngIf="statusFlag" class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                    <form #ambulanceRegisterForm="ngForm" (ngSubmit)="onSubmit()">
                                        <div class="form-group form-focus">
                                            <input type="text" [(ngModel)]="ambulance.fullName" id="fullName"
                                                name="fullName" placeholder="Enter Full Name"
                                                class="form-control floating" #fullName="ngModel">
                                            <label class="focus-label">Full Name</label>
                                        </div>
                                        <div class="form-group form-focus">
                                            <input type="text" [(ngModel)]="ambulance.mobileNumber" id="mobileNumber"
                                                name="mobileNumber" placeholder="Enter Mobile Number"
                                                class="form-control floating" #mobileNumber="ngModel">
                                            <label class="focus-label">Mobile Number</label>
                                        </div>
                                        <div class="form-group form-focus">
                                            <input [type]="showPassword ? 'password' : 'text'"
                                                [(ngModel)]="ambulance.password" id="password" name="password"
                                                placeholder="Enter Password" class="form-control floating"
                                                #password="ngModel">
                                            <span (click)="toggleShow()"
                                                [class]="showPassword ? 'feather-eye toggle-password-sub' :'feather-eye-off toggle-password-sub'"></span>
                                            <label class="focus-label">Enter Password</label>
                                        </div>
                                        <div class="form-group form-focus">
                                            <input [type]="showPasswordConfirm ? 'password' : 'text'"
                                                [(ngModel)]="ambulance.confirmPassword" id="confirmPassword"
                                                name="confirmPassword" placeholder="Enter Confirm Password"
                                                class="form-control floating" #confirmPassword="ngModel">
                                            <span (click)="toggleShowConfirm()"
                                                [class]="showPasswordConfirm ? 'feather-eye toggle-password-sub' :'feather-eye-off toggle-password-sub'"></span>
                                            <label class="focus-label">Confirm Password</label>
                                        </div>
                                        <div class="text-end">
                                            <a class="forgot-link" href="ambulanceLogin">Already have an account?</a>
                                        </div>
                                        <button class="btn btn-primary w-100 btn-lg login-btn"
                                            type="submit">Signup</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">

            <div class="footer-top aos"><!-- data-aos="fade-up" -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/assets/img/logo-whte.png" alt="aidxpert">
                                </div>
                                <div class="footer-about-content">
                                    <p>A healthcare product is the result of the interaction of capital, labour and
                                        entrepreneurship in the production process, which primarily aims to improve,
                                        maintain or prevent the deterioration of the health status of persons or reduce
                                        the consequences of ill health.</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Patients</h2>
                                <ul>
                                    <li><a href="#">Search for Doctors</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Training Videos</a></li>
                                    <li><a href="#">Booking</a></li>
                                    <li><a href="#">Patient Dashboard</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="consultantsPanel">Consultants Panel</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Doctors</h2>
                                <ul>
                                    <li><a href="#">Appointments</a></li>
                                    <li><a href="#">Chat</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Register</a></li>
                                    <li><a href="#">Doctor Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p>Pinnacle Prestige, Office No-405 <br />Road 2,Sadashiv Peth,Hyd</p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +91-858 505 6006
                                    </p>
                                    <p class="mb-0 cf_email">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#" style="color:#fff;"> info@hms.com</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="sidenav">
                <!-- <a href="consult"><img src="/assets/img/footer-banner\.jpg"></a> -->
            </div>

            <div class="footer-bottom">
                <div class="container-fluid">

                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2023 HMS. All rights reserved. Powered by <a
                                            href="https://abc.com" target="_blank" style="color:#fff"> Technologies Pvt.
                                            Ltd.</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a href="termsConditions">Terms and Conditions</a></li>
                                        <li><a href="privacyPolicy">Privacy Policy</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>
    </div>


    <script src="/assets/js/jquery-3.6.4.min.js"></script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/js/script.js"></script>
</body>

</html>