<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link href="/assets/img/favicon.png" rel="icon">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/feather.css">

    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>

    <div class="main-wrapper">

        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="index" class="navbar-brand logo">
                        <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index" class="menu-logo">
                            <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="active"><a href="findDoctors">Find Doctors</a></li>
                        <li><a href="consult">Consultation</a></li>

                        <li><a href="testDetailsOrder">testDetails Order</a></li>
                        <li><a href="labTest">Lab Test</a></li>
                        <li><a href="findSurgeons">Find Surgeons</a></li>
                        <li><a href="bookAmbulance">Book Ambulance</a></li>
                        <li class="has-submenu">
                            <a href="javascript:void(0);">Services <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="searchAmbulance">Ambulance Service</a></li>
                                <li><a href="staffingServices">Healthcare Staffing Services</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:void(0);">Help <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="#">Health Tips</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="consultantsPanel">Consultants Panel</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <!-- <li class="nav-item contact-item">
        <div class="header-contact-img">
        <i class="far fa-hospital"></i> 
        </div>
        <div class="header-contact-detail">
        <p class="contact-header">Tollfree Helpline</p>
        <p class="contact-info-header">1800 1800 55</p>
        </div>
        </li> -->
                    <li class="nav-item">
                        <a class="nav-link header-login" href="loginEmail">Login / Signup </a>
                    </li>
                </ul>
            </nav>
        </header>


        <div class="breadcrumb-bar-two">
            <div class="container">
                <div class="row align-items-center inner-banner">
                    <div class="col-md-12 col-12 text-center">
                        <h2 class="breadcrumb-title">Admin Dashboard</h2>
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="adminDashboard">Home</a></li>
                                <li class="breadcrumb-item" aria-current="page">Add Test Details</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">

                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
                                        <div *ngIf=retrievedImage>
                                            <img [src]="retrievedImage" alt="User Image">
                                        </div>
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>
                                            {{currentUser.firstName}}&nbsp;{{currentUser.middleName}}&nbsp;{{currentUser.lastName}}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li class="active">
                                            <a href="adminDashboard">
                                                <i class="fas fa-columns"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="medicine">
                                                <i class="fas fa-calendar-check"></i>
                                                <span>Add Medicine</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="medicineList">
                                                <i class="fas fa-user-injured"></i>
                                                <span>Medicine List</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="addLabTest">
                                                <i class="fas fa-calendar-check"></i>
                                                <span>Add Lab Test</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="labTestList">
                                                <i class="fas fa-user-injured"></i>
                                                <span>Lab Test List</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="adminProfileSettings">
                                                <i class="fas fa-user-cog"></i>
                                                <span>Profile Settings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="adminChangePassword">
                                                <i class="fas fa-lock"></i>
                                                <span>Change Password</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="logout">
                                                <i class="fas fa-sign-out-alt"></i>
                                                <span>Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <div class="card">
                            <div class="card-body" style="padding-left: 200px;">
                                <div *ngIf="statusFlag" class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                                <form #addLabTestForm="ngForm" (ngSubmit)="onSubmit()">
                                    <div class="row form-row">
                                        <div class="col-12 col-md-12">
                                            <div class="form-group">
                                                <div class="change-avatar">
                                                    <div class="profile-img">
                                                        <div *ngIf=testDetails.retrievedImage>
                                                            <img [src]="testDetails.retrievedImage" alt="Product image">
                                                        </div>
                                                    </div>
                                                    <div class="upload-img">
                                                        <div class="change-photo-btn">
                                                            <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                            <input type="file" [(ngModel)]="testDetails.testImage"
                                                                id="testImage" name="testImage" accept="image/*"
                                                                class="upload" (change)="selectFile($event)"
                                                                #testImage="ngModel">
                                                        </div>
                                                        <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max
                                                            size of 2MB</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label for="name">Test Name</label>
                                                <input type="text" [(ngModel)]="testDetails.testName"
                                                    class="form-control" id="name" name="name"
                                                    placeholder="Enter Test name" required #name="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label for="name">Test Category</label>
                                                <select [(ngModel)]="testDetails.testCategory" id="testCategory"
                                                    name="testCategory" class="form-select form-control"
                                                    #testCategory="ngModel">
                                                    <option value="">Select Test Category</option>
                                                    <option value="hematology">Hematology</option>
                                                    <option value="chemistry">Chemistry</option>
                                                    <option value="serology/immunology">Serology/Immunology</option>
                                                    <option value="microbiology">Microbiology</option>
                                                    <option value="toxicology">Toxicology</option>
                                                    <option value="pathology/cytology">Pathology/Cytology</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label for="name">Test Code</label>
                                                <input type="text" [(ngModel)]="testDetails.testCode"
                                                    class="form-control" id="testCode" name="testCode"
                                                    placeholder="Enter Test Code" required #testCode="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label for="name">Test Cost</label>
                                                <input type="text" [(ngModel)]="testDetails.testCost"
                                                    class="form-control" id="testCost" name="testCost"
                                                    placeholder="Enter Test Cost" required #testCost="ngModel">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label>Lab Name</label>
                                                <input type="text" [(ngModel)]="testDetails.labName" id="labName"
                                                    name="labName" class="form-control" placeholder="Enter Lab Name"
                                                    #labName="ngModel">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label>Lab Address</label>
                                                <input type="text" [(ngModel)]="testDetails.labAddress" id="labAddress"
                                                    name="labAddress" class="form-control"
                                                    placeholder="Enter Lab Address" #labAddress="ngModel">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label>Benefits</label>
                                                <input type="text" [(ngModel)]="testDetails.benefits" id="benefits"
                                                    name="benefits" class="form-control" placeholder="Enter Benefits"
                                                    #benefits="ngModel">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label>Description</label>
                                                <input type="text" [(ngModel)]="testDetails.description"
                                                    id="description" name="description" class="form-control"
                                                    placeholder="Enter Description" #description="ngModel">
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-5">
                                            <div class="form-group">
                                                <label>Sample Requirement</label>
                                                <input type="text" [(ngModel)]="testDetails.sampleRequirement"
                                                    id="sampleRequirement" name="sampleRequirement" class="form-control"
                                                    placeholder="Enter Sample Requirement" #sampleRequirement="ngModel">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="submit-section">
                                        <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <footer class="footer">

            <div class="footer-top aos"><!-- data-aos="fade-up" -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/assets/img/logo-whte.png" alt="aidxpert">
                                </div>
                                <div class="footer-about-content">
                                    <p>A healthcare product is the result of the interaction of capital, labour and
                                        entrepreneurship in the production process, which primarily aims to improve,
                                        maintain or
                                        prevent the deterioration of the health status of persons or reduce the
                                        consequences of
                                        ill health.</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Patients</h2>
                                <ul>
                                    <li><a href="#">Search for Doctors</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Training Videos</a></li>
                                    <li><a href="#">Booking</a></li>
                                    <li><a href="#">Patient Dashboard</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="consultantsPanel">Consultants Panel</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Doctors</h2>
                                <ul>
                                    <li><a href="#">Appointments</a></li>
                                    <li><a href="#">Chat</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Register</a></li>
                                    <li><a href="#">Admin Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p>Pinnacle Prestige, Office No-405 <br />Road 2,KPHB colony,Hyd</p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +91-9096488159
                                    </p>
                                    <p class="mb-0 cf_email">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#" style="color:#fff;"> info@hms.com</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="container-fluid">

                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2023 HMS. All rights reserved. Powered by <a
                                            href="https://abc.com" target="_blank" style="color:#fff">
                                            Technologies Pvt. Ltd.</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a href="termsConditions">Terms and Conditions</a></li>
                                        <li><a href="privacyPolicy">Privacy Policy</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>


    <script src="/assets/js/jquery-3.6.4.min.js"></script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <script src="/assets/js/circle-progress.min.js"></script>

    <script src="/assets/js/script.js"></script>
</body>

</html>