<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link href="/assets/img/favicon.png" rel="icon">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/feather.css">

    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>

    <div class="main-wrapper">

        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="index" class="navbar-brand logo">
                        <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index" class="menu-logo">
                            <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="active"><a href="findDoctors">Find Doctors</a></li>
                        <li><a href="consult">Consultation</a></li>
                        <li><a href="medicineOrder">Medicine Order</a></li>
                        <li><a href="labTest">Lab Test</a></li>
                        <li><a href="findSurgeons">Find Surgeons</a></li>
                        <li><a href="bookAmbulance">Book Ambulance</a></li>
                        <li class="has-submenu">
                            <a href="javascript:void(0);">Services <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="searchAmbulance">Ambulance Service</a></li>
                                <li><a href="staffingServices">Healthcare Staffing Services</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:void(0);">Help <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="#">Health Tips</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="consultantsPanel">Consultants Panel</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <!-- <li class="nav-item contact-item">
        <div class="header-contact-img">
        <i class="far fa-hospital"></i> 
        </div>
        <div class="header-contact-detail">
        <p class="contact-header">Tollfree Helpline</p>
        <p class="contact-info-header">1800 1800 55</p>
        </div>
        </li> -->
                    <li class="nav-item">
                        <a class="nav-link header-login" href="loginEmail">Login / Signup </a>
                    </li>
                </ul>
            </nav>
        </header>


        <div class="breadcrumb-bar-two">
            <div class="container">
                <div class="row align-items-center inner-banner">
                    <div class="col-md-12 col-12 text-center">
                        <h2 class="breadcrumb-title">Checkout</h2>
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index">Home</a></li>
                                <li class="breadcrumb-item" aria-current="page">Checkout</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>


        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <div class="card">
                            <div class="card-body">
                                <form #ambCheckoutForm="ngForm" (ngSubmit)="onSubmit()">
                                    <div class="payment-widget">
                                        <h4 class="card-title">Payment Method</h4>
                                        <div class="payment-list">
                                            <label class="payment-radio credit-card-option">
                                                <!-- <input type="radio" name="radio" checked> -->
                                                <input type="radio" [(ngModel)]="ambBooking.paymentMethod"
                                                    value="Credit card or Debit card" id="paymentMethod"
                                                    name="paymentMethod" class="form-control" #paymentMethod="ngModel">
                                                <span class="checkmark"></span>
                                                Credit card or Debit card
                                            </label>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group card-label">
                                                        <label for="card_name">Name on Card</label>
                                                        <!-- <input class="form-control" id="card_name" type="text"> -->
                                                        <input type="text"
                                                            [(ngModel)]="ambBooking.cardDetails.nameOnCard"
                                                            placeholder="Name on Card" id="nameOnCard" name="nameOnCard"
                                                            class="form-control" #nameOnCard="ngModel">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group card-label">
                                                        <label for="card_number">Card Number</label>
                                                        <input type="text"
                                                            [(ngModel)]="ambBooking.cardDetails.cardNumber"
                                                            placeholder="xxxx-xxxx-xxxx-xxxx" id="cardNumber"
                                                            name="cardNumber" class="form-control"
                                                            #cardNumber="ngModel">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group card-label">
                                                        <label for="expiry_month">Expiry Month</label>
                                                        <input type="text"
                                                            [(ngModel)]="ambBooking.cardDetails.expiryMonth"
                                                            placeholder="MM" id="expiryMonth" name="expiryMonth"
                                                            class="form-control" #expiryMonth="ngModel">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group card-label">
                                                        <label for="expiry_year">Expiry Year</label>
                                                        <input type="text"
                                                            [(ngModel)]="ambBooking.cardDetails.expiryYear"
                                                            placeholder="YYYY" id="expiryYear" name="expiryYear"
                                                            class="form-control" #expiryYear="ngModel">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group card-label">
                                                        <label for="cvv">CVV</label>
                                                        <input type="text" [(ngModel)]="ambBooking.cardDetails.cvv"
                                                            placeholder="****" id="cvv" name="cvv" class="form-control"
                                                            #cvv="ngModel">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="payment-list">
                                            <label class="payment-radio paypal-option">
                                                <!-- <input type="radio" name="radio"> -->
                                                <input type="radio" [(ngModel)]="ambBooking.paymentMethod" value="Gpay"
                                                    id="paymentMethod" name="paymentMethod" class="form-control"
                                                    #paymentMethod="ngModel">
                                                <span class="checkmark"></span>
                                                Gpay
                                            </label>
                                        </div>
                                        <div class="payment-list">
                                            <label class="payment-radio paypal-option">
                                                <!-- <input type="radio" name="radio"> -->
                                                <input type="radio" [(ngModel)]="ambBooking.paymentMethod" value="Paytm"
                                                    id="paymentMethod" name="paymentMethod" class="form-control"
                                                    #paymentMethod="ngModel">
                                                <span class="checkmark"></span>
                                                Paytm
                                            </label>
                                        </div>
                                        <div class="payment-list">
                                            <label class="payment-radio paypal-option">
                                                <!-- <input type="radio" name="radio"> -->
                                                <input type="radio" [(ngModel)]="ambBooking.paymentMethod" value="UPI"
                                                    id="paymentMethod" name="paymentMethod" class="form-control"
                                                    #paymentMethod="ngModel">
                                                <span class="checkmark"></span>
                                                UPI
                                            </label>
                                        </div>

                                        <div class="terms-accept">
                                            <div class="custom-checkbox">
                                                <input type="checkbox" id="termsAndConditions"
                                                    (change)="changeTermsAndConditions()">
                                                <label for="terms_accept">I have read and accept <a
                                                        href="termsConditions">Terms &amp; Conditions</a></label>
                                            </div>
                                        </div>

                                        <div class="submit-section mt-4">
                                            <button type="submit" class="btn btn-primary submit-btn">Confirm and
                                                Pay</button>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="booking-header">
                            <h4 class="booking-title">Booking Summary</h4>
                        </div>
                        <div class="card booking-card">
                            <div class="card-body booking-card-body">
                                <div class="booking-doctor-details">
                                    <div class="booking-doctor-left">

                                        <div class="booking-doctor-info">
                                            <h4><a href="#" style="color: #fff;">Hyd Healthcare Services</a></h4>
                                            <p>Contact No:+91984563217</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card booking-card">
                            <div class="card-body booking-card-body booking-list-body">
                                <div class="booking-list">
                                    <div class="booking-date-list">
                                        <ul>
                                            <li>Booking Date: <span>Sun, 30 Aug 2022</span></li>
                                            <li>Booking Time: <span>10.00 AM</span></li>
                                        </ul>
                                    </div>
                                    <div class="booking-doctor-right">
                                        <p>
                                            <a href="booking">Edit</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card booking-card">
                            <div class="card-body booking-card-body">
                                <div class="booking-doctor-details">
                                    <div class="booking-device">
                                        <div class="booking-device-img">
                                            <img src="/assets/img/icons/device-message.svg" alt="">
                                        </div>
                                        <div class="booking-doctor-info">
                                            <h3>We can help you</h3>
                                            <p class="device-text">Call us +1 888-888-8888 (or) chat with our customer
                                                support team.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card booking-card mb-0">
                            <div class="card-body booking-card-body">
                                <div class="booking-doctor-details">
                                    <div class="booking-device">
                                        <div class="booking-device-img">
                                            <img src="/assets/img/icons/smart-phone.svg" alt="">
                                        </div>
                                        <div class="booking-doctor-info">
                                            <h3>Get the App</h3>
                                            <p class="device-text">Download our app for better experience and for more
                                                feature</p>
                                            <div class="app-images">
                                                <a href="javascript:void(0);">
                                                    <img src="/assets/img/google-img.svg" alt="">
                                                </a>
                                                <a href="javascript:void(0);">
                                                    <img src="/assets/img/app-img.svg" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">

            <div class="footer-top aos"> <!-- data-aos="fade-up" -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/assets/img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>A healthcare product is the result of the interaction of capital, labour and
                                        entrepreneurship in the production process, which primarily aims to improve,
                                        maintain or prevent the deterioration of the health status of persons or reduce
                                        the consequences of ill health.</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Patients</h2>
                                <ul>
                                    <li><a href="searchDoctors">Search for Doctors</a></li>
                                    <li><a href="login">Login</a></li>
                                    <li><a href="#">Training Videos</a></li>
                                    <li><a href="booking">Booking</a></li>
                                    <li><a href="patientDashboard">Patient Dashboard</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="consultantsPanel">Consultants Panel</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Doctors</h2>
                                <ul>
                                    <li><a href="#">Appointments</a></li>
                                    <li><a href="chat">Chat</a></li>
                                    <li><a href="login">Login</a></li>
                                    <li><a href="doctorRegistration">Register</a></li>
                                    <li><a href="doctorDashboard">Doctor Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p>Pinnacle Prestige, Office No-405 <br />Road 2,Sadashiv Peth,Hyd</p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +91-9096488159
                                    </p>
                                    <p class="mb-0 cf_email">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#" style="color:#fff;"> info@hms.com</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container-fluid">

                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2023 HMS. All rights reserved. Powered by <a href="/"
                                            target="_blank" style="color:#fff"> Technologies Pvt. Ltd.</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a href="termsConditions">Terms and Conditions</a></li>
                                        <li><a href="privacyPolicy">Privacy Policy</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>

    </div>

    <script src="/assets/js/jquery-3.6.4.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <script src="/assets/js/script.js"></script>
</body>

</html>