<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AidXpert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link href="/assets/img/favicon.png" rel="icon">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/feather.css">

    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>

    <div class="main-wrapper">
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="index" class="navbar-brand logo">
                        <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index" class="menu-logo">
                            <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li><a href="findDoctors">Find Doctors</a></li>
                        <li><a href=" consult">Consultation</a></li>
                        <li class="active"><a href="medicineOrder">Medicine Order</a></li>
                        <li><a href="labTest">Lab Test</a></li>
                        <li><a href="findSurgeons">Find Surgeons</a></li>
                        <li><a href="bookAmbulance">Book Ambulance</a></li>
                        <li class="has-submenu">
                            <a href="javascript:void(0);">Services <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="#">Ambulance Service</a></li>
                                <li><a href="staffingServices">Healthcare Staffing Services</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="javascript:void(0);">Help <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="#">Health Tips</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="consultantsPanel">Consultants Panel</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <!-- <li class="nav-item contact-item">
        <div class="header-contact-img">
        <i class="far fa-hospital"></i>
        </div>
        <div class="header-contact-detail">
        <p class="contact-header">Tollfree Helpline</p>
        <p class="contact-info-header">1800 1800 45</p>
        </div>
        </li> -->
                    <li class="nav-item">
                        <a class="nav-link header-login" href="loginEmail">Login / Signup </a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="breadcrumb-bar-two">
            <div class="container">
                <div class="row align-items-center inner-banner">
                    <div class="col-md-12 col-12 text-center">
                        <h2 class="breadcrumb-title">Dashboard</h2>
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index">Home</a></li>
                                <li class="breadcrumb-item" aria-current="page">Dashboard</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
                                        <img src="/assets/img/clients/client-01.jpg" alt="User Image">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>{{currentUser.firstName}}&nbsp;{{currentUser.middleName}}&nbsp;{{currentUser.lastName}}
                                        </h3>
                                        <div class="patient-details">
                                            <h5><i class="fas fa-birthday-cake"></i> {{currentUser.dateOfBirth | date:'dd MMM yyyy'}},
                                                {{currentUser.age}}</h5>
                                            <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i>
                                                {{currentUser.state.name}}, {{currentUser.country.name}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li class="active">
                                            <a href="patientDashboard">
                                                <i class="fas fa-columns"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="dependent">
                                                <i class="fas fa-users"></i>
                                                <span>Dependent</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="ordersList">
                                                <i class="fas fa-list-alt"></i>
                                                <span>Orders</span>
                                                <small class="unread-msg">7</small>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="medicalRecords">
                                                <i class="fas fa-clipboard"></i>
                                                <span>Add Medical Records</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="medicalDetails">
                                                <i class="fas fa-file-medical-alt"></i>
                                                <span>Medical Details</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="profileSettings">
                                                <i class="fas fa-user-cog"></i>
                                                <span>Profile Settings</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="changePassword">
                                                <i class="fas fa-lock"></i>
                                                <span>Change Password</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="loginEmail">
                                                <i class="fas fa-sign-out-alt"></i>
                                                <span>Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-7 col-lg-8 col-xl-9">
                        <div class="card">
                            <div class="card-body">
                                <div *ngIf="statusFlag" class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                                <form #userForm="ngForm" (ngSubmit)="onClickSubmit()">
                                    <div class="row form-row">
                                        <div class="col-12 col-md-12">
                                            <div class="form-group">
                                                <div class="change-avatar">
                                                    <div class="profile-img">
                                                        <img src="/assets/img/patients/patient8.jpg" alt="User Image">
                                                    </div>
                                                    <div class="upload-img">
                                                        <div class="change-photo-btn">
                                                            <span><i class="fa fa-upload"></i> Upload Photo</span>
                                                            <input type="file"
                                                                [(ngModel)]="currentUser.profileImageName"
                                                                id="profileImageName" name="profileImageName"
                                                                class="upload">
                                                        </div>
                                                        <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max
                                                            size of 2MB</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" [(ngModel)]="currentUser.firstName" id="firstName"
                                                    name="firstName" placeholder="First Name" class="form-control"
                                                    #firstName="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" [(ngModel)]="currentUser.lastName" id="lastName"
                                                    name="lastName" placeholder="Last Name" class="form-control"
                                                    #lastName="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Date of Birth</label>
                                                <input type="date" [(ngModel)]="currentUser.dateOfBirthString"
                                                    id="dateOfBirthString" name="dateOfBirthString"
                                                    placeholder="Date Of Birth" class="form-control"
                                                    #dateOfBirthString="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Blood Group</label>
                                                <select [(ngModel)]="currentUser.bloodGroup" id="bloodGroup"
                                                    name="bloodGroup" class="form-select form-control"
                                                    #bloodGroup="ngModel">
                                                    <option>Select</option>
                                                    <option value="A-">A-</option>
                                                    <option value="A+">A+</option>
                                                    <option value="B-">B-</option>
                                                    <option value="B+">B+</option>
                                                    <option value="AB-">AB-</option>
                                                    <option value="AB+">AB+</option>
                                                    <option value="O-">O-</option>
                                                    <option value="O+">O+</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Email ID</label>
                                                <input type="email" [(ngModel)]="currentUser.email" id="email"
                                                    name="email" placeholder="email" class="form-control"
                                                    #email="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Mobile</label>
                                                <input type="text" [(ngModel)]="currentUser.phoneNumber"
                                                    id="phoneNumber" name="phoneNumber" placeholder="mobile" required
                                                    class="form-control" #phoneNumber="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" [(ngModel)]="currentUser.address" id="address"
                                                    name="address" placeholder="address" class="form-control"
                                                    #address="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Country</label>
                                                <select [(ngModel)]="currentUser.country.id" id="country" name="country"
                                                    (change)="onChangeCountry()" class="form-select form-control"
                                                    #country="ngModel">
                                                    <option [value]="null">Select</option>
                                                    <option *ngFor="let country of countries" [value]="country.id">
                                                        {{country.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>State</label>
                                                <select [(ngModel)]="currentUser.state.id" id="state" name="state"
                                                    (change)="onChangeState()" class="form-select form-control"
                                                    #state="ngModel">
                                                    <option [value]="null">Select</option>
                                                    <option *ngFor="let state of states" [value]="state.id">
                                                        {{state.name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>City</label>
                                                <select [(ngModel)]="currentUser.city.id" id="city" name="city"
                                                    class="form-select form-control" #city="ngModel">
                                                    <option [value]="null">Select</option>
                                                    <option *ngFor="let city of cities" [value]="city.id">
                                                        {{city.name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Zip Code</label>
                                                <input type="text" [(ngModel)]="currentUser.pinCode" id="pinCode"
                                                    name="pinCode" class="form-control" #pinCode="ngModel">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="submit-section">
                                        <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/assets/img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>A healthcare product is the result of the interaction of capital, labour and
                                        entrepreneurship in the production process, which primarily aims to improve,
                                        maintain or prevent the deterioration of the health status of persons or reduce
                                        the consequences of ill health.</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Patients</h2>
                                <ul>
                                    <li><a href="searchDoctors">Search for Doctors</a></li>
                                    <li><a href="login">Login</a></li>
                                    <li><a href="#">Training Videos</a></li>
                                    <li><a href="booking">Booking</a></li>
                                    <li><a href="patientDashboard">Patient Dashboard</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="consultantsPanel">Consultants Panel</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Doctors</h2>
                                <ul>
                                    <li><a href="#">Appointments</a></li>
                                    <li><a href="chat">Chat</a></li>
                                    <li><a href="login">Login</a></li>
                                    <li><a href="doctorRegistration">Register</a></li>
                                    <li><a href="doctorDashboard">Doctor Dashboard</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p>Pinnacle Prestige, Office No-405 <br />Tilak Road,Sadashiv Peth,Hyd</p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +91-9096488159
                                    </p>
                                    <p class="mb-0 cf_email">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#" style="color:#fff;">info@aidxpert.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sidenav">
                <a href="consultation"><img src="/assets/img/footer-banner.jpg"></a>
            </div>

            <div class="footer-bottom">
                <div class="container-fluid">
                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2023 AidXpert. All rights reserved. Powered by <a href="/"
                                            target="_blank" style="color:#fff"> Technologies Pvt. Ltd.</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a href="termsConditions">Terms and Conditions</a></li>
                                        <li><a href="privacyPolicy">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="/assets/js/jquery-3.6.4.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/plugins/select2/js/select2.min.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
    <script src="/assets/js/script.js"></script>
</body>

</html>