<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>HMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <link href="/assets/img/favicon.png" rel="icon">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="/assets/css/feather.css">

    <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body class="account-page">
    <div class="main-wrapper">
        <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="index" class="navbar-brand logo">
                        <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="index" class="menu-logo">
                            <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li><a href="findDoctors">Find Doctors</a></li>
                        <li class="active"><a href="consult">Consultation</a></li>
                        <li><a href="medicineOrder">Medicine Order</a></li>
                        <li><a href="labTest">Lab Test</a></li>
                        <li><a href="findSurgeons">Find Surgeons</a></li>
                        <li><a href="bookAmbulance">Book Ambulance</a></li>
                        <li class="has-submenu">
                            <a href="javascript:void(0);">Services <i class="fas fa-chevron-down"></i></a>
                            <ul class="submenu">
                                <li><a href="#">Ambulance Service</a></li>
                                <li><a href="staffingServices">Healthcare Staffing Services</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <!-- <li class="nav-item contact-item">
        <div class="header-contact-img">
        <i class="far fa-hospital"></i>
        </div>
        <div class="header-contact-detail">
        <p class="contact-header">Tollfree Helpline</p>
        <p class="contact-info-header">1800 1800 45</p>
        </div>
        </li> -->
                    <li class="nav-item">
                        <a class="nav-link header-login" href="loginEmail">Login / Signup </a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="breadcrumb-bar-two">
            <div class="container">
                <div class="row align-items-center inner-banner">
                    <div class="col-md-12 col-12 text-center">
                        <h2 class="breadcrumb-title">Consultation</h2>
                        <nav aria-label="breadcrumb" class="page-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index">Home</a></li>
                                <li class="breadcrumb-item" aria-current="page">Consultation</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="" style="background-color: #fff;" id="register">
            <div class="container-fluid mt-5 mb-5">
                <div class="row">
                    <div class="col-md-7 col-lg-7 login-left">
                        <img src="/assets/img/newconsult.jpg" class="img-fluid" alt="Login">
                    </div>
                    <div class="col-md-12 col-lg-5 login-right form-box" style="background-color: #44b1c6;">
                        <form role="form" action="" method="post" class="f1">
                            <h3>Consult with a Doctor</h3>
                            <div *ngIf="firstDivFlag"><!-- <fieldset> -->
                                <h4 style="font-weight: bold;">Tell us your symptom or health problem</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-about-yourself">About yourself</label>
                                    <textarea [(ngModel)]="consultation.symptoms" id="symptoms" name="symptoms"
                                        class="form-control" rows="5" placeholder="your symptoms or health problems"
                                        #symptoms="ngModel"></textarea>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label">Choose a relevant speciality</label><br />
                                    <div class="col-md-12">
                                        <select [(ngModel)]="consultation.speciality" id="speciality" name="speciality"
                                            class="form-select" #speciality="ngModel">
                                            <option value="" [selected]="true">Select a relevant speciality</option>
                                            <option value="Ear, Nose, Throat">Ear, Nose, Throat</option>
                                            <option value="Pediatrics">Pediatrics</option>
                                            <option value="General Physician">General Physician</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-first-name">Mobile No</label>
                                    <input type="text" [(ngModel)]="consultation.phoneNumber" id="phoneNumber"
                                        name="phoneNumber" placeholder="Enter Phone Number" class="form-control"
                                        #phoneNumber="ngModel">
                                </div>
                                <div class="f1-buttons">
                                    <button type="button" (click)="secondDiv()"
                                        class="btn btn-primary btn-next">Next</button>
                                </div>
                            </div><!-- </fieldset> -->

                            <div *ngIf="secondDivFlag"><!-- <fieldset> -->
                                <h5 style="font-weight: bold;">Confirm & Pay</h5>
                                <div>
                                    <span class="" style="font-weight: bold;color: #44b1c6;">100+</span> <span
                                        style="color:#44b1c6;font-weight: bold;">Verified doctors are available
                                        now</span>
                                </div>
                                <div class="avatar-group" style="padding-bottom: 10px;">
                                    <div class="avatar">
                                        <img class="avatar-img rounded-circle border border-white" alt="User Image"
                                            src="/assets/img/doctors/doctor-01.jpg">
                                    </div>
                                    <div class="avatar">
                                        <img class="avatar-img rounded-circle border border-white" alt="User Image"
                                            src="/assets/img/doctors/doctor-02.jpg">
                                    </div>
                                    <div class="avatar">
                                        <img class="avatar-img rounded-circle border border-white" alt="User Image"
                                            src="/assets/img/doctors/doctor-03.jpg">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <h6>Select Type of Consultation</h6>
                                    <div class="col-md-12">
                                        <select [(ngModel)]="consultation.consultationType" id="consultationType"
                                            name="consultationType" class="form-select" #consultationType="ngModel">
                                            <option value="" [selected]="true">Select Consultation Type</option>
                                            <option value="Clinic Visit">Clinic Visit</option>
                                            <option value="Video Consultation">Video Consultation</option>
                                            <option value="Tele Consultation">Tele Consultation</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h6>Patient Name</h6>
                                    <input type="text" [(ngModel)]="consultation.patientName" id="patientName"
                                        name="patientName" placeholder="Enter Patient Name" class="form-control"
                                        #patientName="ngModel">
                                </div>
                                <h6 style="font-weight: bold;">Do you have any coupon code?</h6>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-email">Coupon Code</label>
                                    <input type="text" [(ngModel)]="consultation.couponCode" id="couponCode"
                                        name="couponCode" placeholder="Coupon Code" class="form-control"
                                        #couponCode="ngModel">
                                </div>
                                <div class="pricing-amount">
                                    <h6 style="color: #44b1c6;">Final Payment</h6>
                                    <h2>Rs. 399<span>/-</span></h2>

                                </div>
                                <div class="pricing-btn"><a class="btn" (click)="onSubmit()">Make
                                        Payment</a></div>
                            </div><!-- </fieldset> -->

                            <div *ngIf="thirdDivFlag"><!-- <fieldset> -->
                                <h4 style="font-weight: normal;">Checkout</h4>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-facebook">Facebook</label>
                                    <input type="text" name="f1-facebook" placeholder="Facebook..."
                                        class="f1-facebook form-control" id="f1-facebook">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-twitter">Twitter</label>
                                    <input type="text" name="f1-twitter" placeholder="Twitter..."
                                        class="f1-twitter form-control" id="f1-twitter">
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="f1-google-plus">Google plus</label>
                                    <input type="text" name="f1-google-plus" placeholder="Google plus..."
                                        class="f1-google-plus form-control" id="f1-google-plus">
                                </div>
                                <div class="f1-buttons">
                                    <button type="button" class="btn btn-primary btn-previous">Previous</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div><!-- </fieldset> -->

                        </form>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">

            <div class="footer-top aos"><!-- data-aos="fade-up" -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-about">
                                <div class="footer-logo">
                                    <img src="/assets/img/footer-logo.png" alt="logo">
                                </div>
                                <div class="footer-about-content">
                                    <p>A healthcare product is the result of the interaction of capital, labour and
                                        entrepreneurship in the production process, which primarily aims to improve,
                                        maintain or prevent the deterioration of the health status of persons or reduce
                                        the consequences of ill health.</p>
                                    <div class="social-icon">
                                        <ul>
                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                            </li>

                                            <li>
                                                <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Patients</h2>
                                <ul>
                                    <li><a href="#">Search for Doctors</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Training Videos</a></li>
                                    <li><a href="#">Booking</a></li>
                                    <li><a href="#">Patient Dashboard</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="consultantsPanel">Consultants Panel</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-menu">
                                <h2 class="footer-title">For Doctors</h2>
                                <ul>
                                    <li><a href="#">Appointments</a></li>
                                    <li><a href="#">Chat</a></li>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Register</a></li>
                                    <li><a href="#">Doctor Dashboard</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-6">

                            <div class="footer-widget footer-contact">
                                <h2 class="footer-title">Contact Us</h2>
                                <div class="footer-contact-info">
                                    <div class="footer-address">
                                        <span><i class="fas fa-map-marker-alt"></i></span>
                                        <p>Pinnacle Prestige, Office No-405 <br />Road 2,KPHB colony,Hyd</p>
                                    </div>
                                    <p>
                                        <i class="fas fa-phone-alt"></i>
                                        +91-9096488159
                                    </p>
                                    <p class="mb-0 cf_email">
                                        <i class="fas fa-envelope"></i>
                                        <a href="#" style="color:#fff;"> info@hms.com</a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="footer-bottom">
                <div class="container-fluid">

                    <div class="copyright">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2023 HMS. All rights reserved. Powered by <a
                                            href="https://technologies.com" target="_blank" style="color:#fff">l
                                            Technologies Pvt. Ltd.</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">

                                <div class="copyright-menu">
                                    <ul class="policy-menu">
                                        <li><a href="termsConditions">Terms and Conditions</a></li>
                                        <li><a href="privacyPolicy">Privacy Policy</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </footer>
    </div>

    <script src="/assets/js/aos.js"></script>
    <script src="/assets/js/jquery-3.6.4.min.js"></script>
    <script src="/assets/js/aos.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jquery.backstretch.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>

</html>